# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw / local datasets
data/raw/

# Generated datasets
data/processed/

# Trained models
models/*.pkl

# OS files
.DS_Store
Thumbs.db